.footer {
	width: auto;
	height: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	font-size: 1.1rem;
	background-color: #f7f7f7;
	position: relative;
	.right {
		min-width: 30px;
		display: flex;

		position: absolute;
		right: 5px;
		.words {
			margin: 0 5px;
		}

		.footerToolbar {
			font-size: 20px;
			display: flex;

			cursor: pointer;
		}
	}

	.center {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	.left {
		position: absolute;
		left: 5px;
		margin: 0 5px;
		font-size: 20px;
		cursor: pointer;
	}

	.countBox {
		min-width: 90px;
		height: 100px;
		padding: 1em;
		background: #454b55;
		color: #fff;
		border-radius: 5px;
		position: fixed;
		bottom: 35px;
		right: 30px;

		div {
			margin: 0.2em 0;
		}
	}
}
