.footer {
	width: 100%;
	height: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	font-size: 1.1rem;
	background-color: #f7f7f7;

	.words {
		margin: 0 5px;
	}

	.footerToolbar {
		font-size: 20px;
	}
}
